{erl_opts, [no_debug_info]}.
{deps, []}.

{escript_incl_apps,
 [left_assoc_expr]}.
{escript_main_app, left_assoc_expr}.
{escript_name, left_assoc_expr}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.

%% leex files to compile first
{xrl_first_files, ["src/left_assoc_lexer.xrl"]}.
%% yecc files to compile first
{yrl_first_files, ["src/left_assoc_parser.yrl"]}.

{post_hooks, [{compile, "rm src/left_assoc_lexer.erl"},
              {compile, "rm src/left_assoc_parser.erl"}]}.
